<%= render 'nav', work: @work %>
<main>
  <section>
    <h3>Media Spotlight</h3>
    <% spotlight_work = Work.select_spotlight%>
    <%= link_to spotlight_work.title, work_path(spotlight_work.id) %>
    <%= "by: #{spotlight_work.creator}"%>
    <p><%= "0 votes by User"%></p>
  </section>

  <section>
    <h3>Top Movies</h3>
    <ol>
    <% if Work.select_top_ten(:movie).nil? %>
      <%= No works of this type %>
    <% else %>
      <% Work.select_top_ten(:movie).each do |work| %>
        <li><%= link_to work.title, work_path(work.id) %>
        <%= "by #{work.creator}" %>
        <p><%= "0 votes"%></p>
        </li>
      <% end %>
    <% end %>
    <ol>
  </section>

  <section>
    <h3>Top Books</h3>
    <ol>
    <% if Work.select_top_ten(:book).nil? %>
      <%= No works of this type %>
    <% else %>
      <% Work.select_top_ten(:book).each do |work| %>
        <li><%= link_to work.title, work_path(work.id) %>
        <%= "by #{work.creator}" %>
        <p><%= "0 votes"%></p>
        </li>
      <% end %>
    <% end %>
    <ol>
  </section>

  <section>
    <h3>Top Albums</h3>
    <ol>
    <% if Work.select_top_ten(:album).nil? %>
      <%= No works of this type %>
    <% else %>
      <% Work.select_top_ten(:album).each do |work| %>
        <li><%= link_to work.title, work_path(work.id) %>
        <%= "by #{work.creator}" %>
        <p><%= "0 votes"%></p>
        </li>
      <% end %>
    <% end %>
    <ol>
  </section>
</main>