  <% if @user.errors.any? %>
    <section class="alert alert-danger">
      <h1>Errors</h1>
      <ul>
        <% @user.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
      </section>
  <% end %>

<%= form_with model: @user, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit "Log In" %>
<% end %>