<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Media Ranker | Ranking the Best of Everything</h1>
  <nav>
    <ul>
      <li><%= link_to 'View top media', root_path %></li>
      <li><%= link_to 'View all media', works_path %></li>
      <li><%= link_to 'Add a new work', new_work_path %></li>
      <li><%= link_to 'View all users', users_path %></li>
      <% if session[:user_id].nil? %>
        <li><%= link_to 'Login', login_path %></li>
      <% else %>
        <li><%= link_to 'Logout', logout_path, method: :post %></li>
        <li>Logged in as <%= User.find_by(id: session[:user_id]).username %></li>
      <% end %>
    </ul>
  </nav> 
  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>  
    <%= yield %>
  </body>
</html>
